/*
#2B2D42
#8D99AE
#EDF2F4
#EF233C
*/

/* GLOBAL STYLES
--------------------------------- */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

h1,
h2 {
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 55px;
}

h2 {
  font-size: 35px;
  margin: 0;
}

h3 {
  margin: 0;
}

a {
  color: #ef233c;
}

a:hover {
  text-decoration: none;
}

.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 60px 50px;
  overflow: auto;
}

.uppercase {
  text-transform: uppercase;
}

.btn {
  text-decoration: none;
  background: rgb(134, 35, 35);
  color: white;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
}

/* HEADER AND FOOTER
--------------------------------- */
header,
footer {
  background-color: #2b2d42;
  color: #8d99ae;
}

/* header styles */
header {
  padding-top: 30px;
  position: relative;
}

.resume-dl {
  position: absolute;
  bottom: 0;
  right: 0;
}

.profile-img {
  border-radius: 50%;
}

header h1,
header h2 {
  color: #edf2f4;
  margin: 0;
}

/* footer styles */
footer {
  text-align: center;
}

.contact-info a {
  margin: 10px;
  display: inline-block;
  font-size: 25px;
  padding: 0 10px;
}

/* NAIVGATION
----------------------------------*/

nav {
  text-align: center;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  /* change z-index so the nav bar stays over all page elements */
  z-index: 100;
}

nav a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

/*  WORK AND EXPERIENCE
--------------------------------- */
.work-experience {
  background-color: rgb(189, 194, 196);
}
h3 ~ p {
  margin: 0;
}

.job-description {
  margin-bottom: 25px;
}

.job-description p:first-of-type {
  margin-top: 0;
}
.date-at-job {
  margin-bottom: 10px;
}

/* EDUCATION
--------------------------------- */
.education {
  background: linear-gradient(rgba(141, 153, 174, 0.6), rgba(0, 0, 0, 0.9)),
    url(../images/education_bg.jpg) no-repeat fixed 0px 0px / cover;
  color: rgba(255, 255, 255, 0.747);
}

p + h3 {
  margin-top: 30px;
}

/* MEDIA QUERIES
--------------------------------- */

@media (min-width: 900px) {
  .col-narrow {
    width: 30%;
    float: left;
  }

  .col-wide {
    width: 70%;
    float: left;
    padding-left: 20px;
  }
  .nav {
    height: 5%;
  }
}

@media (max-width: 899px) {
  header {
    text-align: center;
  }
  .profile-img {
    width: 40%;
  }
  .nav {
    height: 10%;
  }
}
